@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
    :root {
        --foreground-rgb: 255, 255, 255;
        --background-start-rgb: 0, 0, 0;
        --background-end-rgb: 0, 0, 0;
    }
}

@media (max-width: 320px) {
    /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */
    * {
        font-size: 14px;
    }
}

@media (max-width: 480px) {
    * {
        font-size: 14px;
    }
    /* smartphones, Android phones, landscape iPhone */
}
